@model CyberMinerSearch.Models.SearchModel

@{
    ViewBag.Title = "Home Page";

}

<center>
    <br>
    <h1><img src="@Url.Content("~/Content/GOODLE.png")" alt="IMAGES" /></h1>
    <br>
    @using (Html.BeginForm())
    {

        @Html.EditorFor(x => x.searchtext, new { @class = "form-control long-textbox" })
        @Html.ValidationMessageFor(x => x.searchtext)
        <button type="submit">Search</button>
        <br><br />




    }
    <div class="row">
        <div class="col-sm-6">
            <b>Sort by:</b>
            <select id="dropdowntipo">
                <option value="frequent">Most frequently accessed</option>
                <option value="ascending">Alphabetical ascending</option>
                <option value="descending">Alphabetical descending</option>
            </select>
        </div>
        <div class="col-sm-6">

            @Html.CheckBoxFor(m => m.isCaseSensitive)
            @Html.LabelFor(m => m.isCaseSensitive)
    </div>

</center>

        </tr>
@foreach (var url in Model.URLModels)
{
    <font face="helvetica" font size="4">
        <div align="left">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12"></div>
                    <li><a href="@url.URL1">@url.URL1</a> </li>
                </div>
                <div class="row">
                    <div class="col-sm-12"></div>
                    @url.Description

                </div>
                <div class="row">
                    <div class="col-sm-12"></div>
                    <font size="1">
                        <a href="www.reportbrokenurl.com">Report broken URL</a>
                    </font>

                </div>
                <br>
            </div>
        </div>
    </font>
}
<div>
    <span style="float:right">Page 1 of 1</span>
</div>
