@model CyberMinerSearch.Models.SearchModel

@{
    ViewBag.Title = "Home Page";

}
<center>
    <h1>GOODLE</h1>

    @using (Html.BeginForm())
    {
        //@Html.LabelFor(x => x.searchtext)
        @Html.EditorFor(x => x.searchtext)
        @Html.ValidationMessageFor(x => x.searchtext)
        <button type="submit">Search</button>
        <br><br>
        @Html.CheckBoxFor(m => m.isCaseSensitive)
        @Html.LabelFor(m => m.isCaseSensitive)

    }

    <table style="width:100%">
        <tr>
            <th>Description</th>
            <th>Url</th>

        </tr>
        @foreach (var url in Model.URLModels)
        {
            <tr>
                <td>@url.Description</td>
                <td><a href="@url.URL1">@url.URL1</a></td>

            </tr>
        }

    </table>
</center>